#login-form{
    position: fixed;
    top: 30%;
    left: 40%;
    opacity: 80%;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}
#StudentID{
    font-size: 1.5em;
}
#EmailInput{
    
    font-size: 1.5em;
}
#password{
    
    font-size: 1.5em;
}
body{
    background-image: url(Loginbg.jpg);
    background-size: cover;
}
#loginbtn{
    font-size: 1.2em;
    background-color: #0f63b3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#logintxt{
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}
#forgotpass{
    color:#0f63b3;
}
#secret{
    position: fixed;
    font-size: 1em;
    color: tomato;
    top: 0px;
    left: 0px;
}