#body{
    overflow:hidden;
}
#MainSideBar{
    height: 90%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  bottom:0 ; /* Stay at the top */
  left: 0;
  border: 1px solid lightgray;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  
}
#MainSideBarList{
    list-style-type: none;

}
.SidebarItem{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: aliceblue;
    display: block;
    text-decoration: none;/* no underline */
    padding: 6px 8px 6px 16px;
    
    margin-left: -30%;
    color: gray;
}
#HomeHeader{
    margin-left: -10px;
    top:0;
    height:7.3%;
    width:100%;
    position: fixed;
    background-color: rgb(250, 55, 55) ;
    border: 0.5px solid lightgray;

}
#homebutton{
    position:fixed;
    margin-top: 15px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: transparent;
    font-weight: 550;
    font-size: 1.5em;
    color: White;
}
#SchoolYear{
    position: fixed;
    margin-left: 80%;
    margin-top: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 1em;
}
#ProfilePicture{
    position: fixed;
    line-height: 15px;
    margin-left: 90%;
    top: 10px;
    
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid white;
}
#Name{
    font-family: Arial, Helvetica, sans-serif;
    position:fixed;
    color:white;
    font-size: 12px;
    left: 93%;
    top: 24px;
}
.SidebarItem:hover{
    background-color: #747373;
    color: black;
    transition: background-color 0.5s;
}
#clubcover{
    position:relative;
    height: 200px;
    top:60px;
    width: 89.5%;
    left:11.5%;
    background-image: url(../ExampleClubPage/ExampleClubBgPic.jpg);
    background-size: cover;
    border: 1px solid gray;
}
#clubpfp{
    position: relative;
    height: 200px;
    width: 200px;
    
    border: 6px solid rgb(0, 0, 0);
    margin-top: -40px;
    left: 15%;
    background-image: url(../ExampleClubPage/ExamoleClubProfilePic.jpg);
    background-size: cover;
}
#clubname{
    font-family: Myriad Pro, sans-serif;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    left: 15%;
    margin-top: 10px;
}
#joinclubbutton{
    position: fixed;
    right:25px;
    bottom:25px;
    padding: 10px 20px;
    font-size: 16px;
    height:50px;
    width: 150px;
    border-radius: 100px;
    
    background-color: rgb(39, 159, 3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#clubdescription{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    left: 15%;
    margin-top: 10px;
    width: 60%;
}   